{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <script src="{% static 'login.js' %}"></script>
</head>
<body>
    <span id="ping">PING</span>
    <span id="loginheader">Login</span>
    <a href="/admin/" id="adminlogo"><img id="adminlogoimg" src="{% static 'adminlogo.png' %}" alt=""></a>
    <form id="loginform" action="" method="post">
        {%csrf_token%}
        <span id="error">{{login_error}}</span><br>

        <div id="usernamediv">
            <input type="text" name="username" id="usernameinput" required>
            <label id="usernamelabel" for="usernameinput" >Username</label>
        </div>

        <div id="passworddiv">
            <input type="password" name="password" id="passwordinput" required>
            <label id="passwordlabel" for="passwordinput">Password</label>
        </div>

        <input id="loginsubmit" type="submit" value="Login"><br>

        <p><a id="register" href="/register/">Create an account</a></p>
    </form>
</body>
</html>